<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="./css/result.css">
    <script defer src="/scripts/popup/result.js"></script>
</head>
<body>
    <div class="voteList"></div>
    <div class="voteResultSetting"></div>
    <div class="voteResult">
        <div class="voteResultName"></div>
        <div class="voteResultInfo"></div>
    </div>

    <img src="/img/free-icon-left-arrow_271220.png" class="gotoHome">
</body>